.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }

/* background */
.background{
    background-color: #F1F1F3;
}  

/* Banner */
.banner{
    background-color: #C6E4D6;
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    margin: 0px 160px 80px 160px;
    padding: 80px 60px;
    /* width: 1280px 560px; */
}
.banner-title{
    font-size: 24px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.5);
    padding-top: 37px;
    padding-bottom: 0px;

}
.banner-greetings{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    padding: 16px;
}
.banner-btn{
    background-color: #006A50;
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: #FFFFFF;
    padding: 17px 34px;
    border-radius: 8px;
}
/* The vision of future */
.vision{
    margin: 80px 160px;
}
.vision-header{
    /* padding: 80px 160px 32px 160px; */
}
.vision-cards{
    display: flex;
    justify-content: space-around;
    width: 410px 325px;
    border-radius: 16px;
    gap: 24px;
    margin-bottom: 32px;
    /* padding: 32px; */
}
.digital-transformation{
    background-color: rgba(84, 144, 245, 0.2);
    gap: 24px;
    padding: 32px;
    border-radius: 16px;
}
.dt-btn{
    background-color: #5490F5;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 8px;
}
.green-energy{
    background-color: rgba(198, 228, 214, 1);
    gap: 24px;
    padding: 32px;
    border-radius: 16px; 
}
.ge-btn{
    background-color: #09A15C;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 8px;
}
.modern-infrastructure{
    background-color: rgba(247, 235, 207, 1);
    gap: 24px;
    padding: 32px;
    border-radius: 16px; 
}
.mi-btn{
    background-color: #FFC239;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 8px;
}
.quote{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top 25px left 24px;
    background-color: #FFFFFF;
    width: 1280pc 256px;
    border-radius: 16px;
    background-position: 24px 25px;
    padding: 48px 24px;
}
.speech{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    justify-content: left;
}
.name{
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
}
.designation{
    font-size: 16px;
}
/* Recent news */
.recent-news{
  margin: 80px 160px;
  gap: 24px;
}
.news-cards{
  display: flex;
  gap: 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 48px;
  margin-bottom: 24px;
}
.news-img{
  border-radius: 24px;
}
.date-time{
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.news-des{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.news-btn{
  background-color: #006A50;
  font-weight: 600px;
  font-size: 16px;
  border: none;
  color: #FFFFFF;
  padding: 11px 20px;
  border-radius: 8px;
}
/* Donate section */
.donate{
  margin: 0px 160px;
  gap: 32px;
  /* align-items: center; */
}
.donate-heading{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.donate-des{
  font-size: 16px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.70);
}
.donate-amount{
  display: flex;
  justify-content: space-around;
  /* width: 240px 128px; */
}
.donate-amount button{
  /* display: flex; */
  font-size: 32px;
  font-weight: bold;
  background-color: #FFFFFF;
  border: none;
  border-radius: 16px;
  align-items: center;
  width: 240px;
  height: 128px;
  padding: 40px 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}
.donate input[type="text"]{
  border: none;
  height: 64px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 20px;
  /* margin: 0px 124px; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}
input::placeholder {
  font-size: 20px;
  text-align: center;
  color: rgba(14, 14, 14, 0.3);
}
.container-dbtn{
  align-items: center;
}
.donate-btn{
  background-color: #006A50;
  margin: auto;
  /* width: 34px;
  height: 17px; */
  font-weight: 600px;
  font-size: 18px;
  border: none;
  color: #FFFFFF;
  padding: 34px 17px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* Newsletter */
.newsletter{
  margin-left: 160px;
  margin-right: 160px;
  max-width: 100%;
  height: 395px;
  background-color: #C6E4D6;
  border-radius: 24px;
  padding: 80px 265px;
}